<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>820599574627-iuqqae0comca7hmmme2jq0ktfd1bh7c0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.820599574627-iuqqae0comca7hmmme2jq0ktfd1bh7c0</string>
	<key>API_KEY</key>
	<string>AIzaSyASy0BBMgQMRRoUKyOcn7XtkW5CcAJQqo4</string>
	<key>GCM_SENDER_ID</key>
	<string>820599574627</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tshilolo.flashChat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-dd700</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-dd700.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:820599574627:ios:ce679347251e3b5966e856</string>
</dict>
</plist>